<div class="form-group">
  <!--Modal Button-->
  <button type="button" class="btn btn-default" data-toggle="modal" data-target=".modal-confirm">{{ btname }}</button>

  <!--Modal Content-->
  <div class="modal modal-confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header" align="center">
          <h4 class="modal-title">Warning</h4>
        </div>
        <div class="modal-body">
          <p>{{ body }}</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
          <button class="btn btn-default" ng-click="deleteItems()" data-dismiss="modal">Ok</button>
        </div>

      </div>
    </div>
  </div>

</div>
